.crear-orden-form-card{
    border-radius: 5px;
    background-color: white;
    width: fit-content;
    margin: auto;
}

.crear-orden-form-input{
    border: solid 1.6px #c5bfbf;
    border-radius: 5px;
    height: 24px;
    width: 225px;
}

.crear-orden-form{
    max-width: 4000px;
}

.divisa{
    margin-right: 133px;
}

.montos{
    width: 95px;
    margin-right: 90px;
}

.lim-boton{
    max-width: 150px;
}