.object-card-body{
    background-color: white;
    border-radius: 5px;
}

.users{
    width: 720px;
}

.data-container{
    width: 100%;
}

.adjust-apellido{
    width: 310px;
}

.adjust-nombre{
    width: 290px;
}

.adjust-id{
    width: 440px;
}

.adjust-id2{
    width: 160px;
}

.adjust-monto{
    max-width: 220px;
}

.adjust-rol{
    width: 156px;
}

.adjust-status{
    width: 260px;
}

/* .adjust-cuenta{
    width: 319px;
} */