.object-card-body{
    background-color: white;
    border-radius: 5px;
}

.users{
    width: 720px;
}

.data-container{
    width: 100%;
}

.adjust-apellido{
    width: 310px;
}

.adjust-id{
    width: 150px;
}

.adjust-rol{
    width: 156px;
}

.adjust-status{
    width: 260px;
}

.adjust-cuenta{
    width: 319px;
}